body {
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
}
h2, h4 {
  background-color: black;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
a {
  color: seashell;
}

/* Header and nav style */
header {
  display: flex;
  position: fixed;
  z-index: 10;
  align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}
nav span {
  padding: 20px 10px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}
.logo img {
  height: 50px;
}
.content {
  display: flex;
  margin: 70px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mission section style */
#mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

/* Store section style */
#store {
  width: 1000px;
  height: 700px;
  padding: 50px 0;
  margin: auto;
}
.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.element {
  padding: 5px;
}
.element img {
  margin: 10px;
  height: 200px;
  display: block;
}
.element span {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/* Locations section style */
#locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
}
#locations h2 {
  background-color: transparent;
}
.locations {
  display: flex;
  justify-content: center;
}
.location {
  width: 300px;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 280px;
  background-color: black;
}

/* Contact and footer section styles */
#contact {
  height: 200px;
}
footer {
  padding-left: 20px;
  text-align: left;
}
